body{
    font-family: bold;

}
h1{
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50;
}
.gallery{
    margin: 10px 10px;
    

}
.gallery img{
    width: 230px;
    height: 150px;
    padding: 5px ;
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}